# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/
ENV/
*.egg-info/

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
parts/
sdist/
var/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
*.cover
*.coverage
.coverage.*
htmlcov/
.nox/
.cache/
.pytest_cache/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env files
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Mac
.DS_Store

# logs
*.log

# Frontend build
/dist
